body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  text-align: center;
  color: white;
}

header {
  padding: 30px;
}

.back-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 18px;
  background: white;
  color: #ff4081;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

.gallery {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.grid img {
  width: 100%;
  border-radius: 15px;
  transition: 0.4s;
}

.grid img:hover {
  transform: scale(1.08);
}
footer {
  padding: 15px;
  background: #333;
}
