body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
}

.hero {
    padding: 100px 20px;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: white;
    color: #ff4b5c;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background: #ff4b5c;
    color: white;
}

.hidden {
    display: none;
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.gallery {
    padding: 50px 20px;
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}

.photos img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: all ease 1s;
}

.photos:hover img{
    scale: 1.2;
    
}

.message {
    padding: 50px 20px;
    background: white;
}

footer {
    padding: 20px;
    background: #ff4b5c;
    color: white;
}
